#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.container {
    margin-top: 3em;
    width: 80%;
}

.collection-item {
    text-align: left;
}

.item-email {
    padding-top: 10px;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 200px;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


/* card */

.card-header {
    background: #e4e4e4;
    text-align: center;
    padding-top: 3em;
    border-bottom: 1.5px solid #a0a0a094;
}

.card-header img {
  height: 100px;
  width: 100px;
  margin-bottom: -50px;
  padding: 3px;
  background: white;
  border-radius: 50%;
  border: 1.5px solid #c7c7c7;
  border-style: solid;
}

.card-body {
    padding: 4rem 1rem 3rem 1rem;
    font-family: 'roboto';
    text-align: center;
}

.card-body i{
  vertical-align: middle;
  margin-right: 5px;
}

.card-info {
    color: #656565;
    margin-top: 0;
}

.card-user {
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
  font-weight: bold;
  color: #797979;
  font-size: 1.5rem;
}